/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  position: relative;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: white;
}

.logo {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #08A6E4;
  padding-left: 15px;
  background-color: white;
  height: 66px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.nav_list {
  display: flex;
  width: 40rem;
  justify-content: space-around;
  align-items: center;
}

.nav_element {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #a5a5a5;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: 70px;
  cursor: pointer;
}

.nav_element:hover {
  color: #000000;
  border-bottom: 4px solid #08A6E4;
}

.burger {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  display: none;
  z-index: 3;
}
.burger:hover span {
  background-color: black;
}
.burger strong {
  position: absolute;
  left: -9999999px;
}
.burger span {
  width: 20px;
  height: 2px;
  background-color: #08A6E4;
  display: block;
}

@media (min-width: 1120px) and (max-width: 1400px) {
  .nav_list {
    width: 50vw;
  }
}
@media (min-width: 700px) and (max-width: 1120px) {
  .nav_list {
    width: 55vw;
  }
}
@media (min-width: 200px) and (max-width: 700px) {
  .nav_list {
    position: absolute;
    flex-direction: column;
    top: 70px;
    left: 0;
    height: 170px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    z-index: 2;
    transform: translate(0, -150%);
    transition: 0.2s;
    background-image: linear-gradient(to top, white 95%, rgba(0, 0, 0, 0) 5%);
  }
  .nav_element {
    justify-content: flex-start;
    height: 30px;
    padding: 20px 30px;
    letter-spacing: 3px;
  }
  .nav_element:hover {
    border: none;
  }
  body.menu-open .nav_list {
    transform: translate(0);
  }
  .burger {
    display: flex;
    position: absolute;
    right: 20px;
  }
}
.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  font-size: 49px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 130px;
}

.banner p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 38px;
}

.banner a {
  height: 67px;
  max-width: 440px;
  width: 27vw;
  min-width: 300px;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #08A6E4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

.banner a:hover {
  color: #000000;
}

.banner img {
  width: 100%;
  height: auto;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1100px) {
  .banner h1 {
    font-size: 42px;
  }
}
@media (max-width: 700px) {
  .banner h1 {
    font-size: 35px;
    margin-top: 100px;
  }
  .banner p {
    text-align: center;
    margin: 0 20px;
    margin-bottom: 38px;
    line-height: 1.5;
  }
}
@media (max-width: 450px) {
  .banner a {
    max-width: 300px;
    width: 70vh;
    min-width: 200px;
  }
  .banner h1 {
    margin-top: 100px;
    font-size: 35px;
  }
}
.statistics {
  display: flex;
  height: auto;
  font-family: "Raleway", sans-serif;
}

.statistics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
}

.statistics h2 {
  font-size: 36px;
  margin: 100px 0;
}

.data_container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 121px;
  width: 1352px;
}

.statistics article {
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img_wrapper {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img_wrapper img {
  position: relative;
  left: 20px;
}

.span-red {
  display: flex;
  height: 63px;
  width: 63px;
  background-color: #fb3b64;
  border-radius: 50%;
  position: absolute;
}

.span-blue {
  display: flex;
  height: 63px;
  width: 63px;
  background-color: #08A6E4;
  border-radius: 50%;
  position: absolute;
}

.span-green {
  display: flex;
  height: 63px;
  width: 63px;
  background-color: #55dfb4;
  border-radius: 50%;
  position: absolute;
}

.img_wrapper span:nth-child(2) {
  background-color: #08A6E4;
}

.data_container h3 {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.data_container p {
  font-size: 17px;
  color: #a5a5a5;
}

.data_container p {
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 900px) and (max-width: 1400px) {
  .data_container {
    width: 80%;
    justify-content: space-around;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .data_container {
    width: 80%;
    justify-content: space-between;
  }
  .statistics h2 {
    text-align: center;
    font-size: 30px;
  }
}
@media (min-width: 558px) and (max-width: 750px) {
  .data_container {
    width: 80%;
    justify-content: space-between;
  }
  .statistics {
    display: flex;
  }
  .statistics h2 {
    text-align: center;
    font-size: 30px;
    margin: 75px 0 100px 0;
  }
  .statistics article:nth-child(2) {
    margin: 0 40px;
  }
}
@media (min-width: 534px) and (max-width: 558px) {
  .statistics article {
    margin: 20px 40px;
  }
  .data_container {
    width: 80%;
    justify-content: space-between;
  }
  .statistics h2 {
    text-align: center;
    font-size: 30px;
    margin: 75px 0 100px 0;
  }
  .statistics article {
    height: 140px;
    width: 116px;
  }
}
@media (max-width: 534px) {
  .statistics article {
    margin: 20px 40px;
  }
  .data_container {
    width: 80%;
    justify-content: center;
    margin-bottom: 40px;
  }
  .statistics h2 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0 50px 0;
  }
  .statistics article {
    height: 140px;
    width: 116px;
  }
}
.benefits {
  height: 1395px;
  background-color: #f7f7f7;
}

.benefits .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits .row {
  display: flex;
  flex-direction: row;
  height: 370px;
  width: 1124px;
  min-width: 300px;
}

.row:first-of-type {
  margin-top: 105px;
}

.row:nth-of-type(2) {
  margin: 37px 0;
}

.row:last-of-type {
  margin-bottom: 105px;
}

.row-1, .row-2, .article-3 {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
}

.img-3 {
  background-color: #55dfb4;
  border-radius: 5px;
  border: 1px solid #e8e9ed;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-3 img {
  position: relative;
  height: 207px;
  width: 295px;
}

.row-3 article {
  width: 623px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.benefits .img-1, .benefits .img-2 {
  max-height: 370px;
  width: auto;
  padding: 20px;
}

.benefits .img-1 {
  max-height: 230px;
  height: 20vw;
  min-height: 110px;
  width: auto;
  position: relative;
  top: 110px;
  right: 120px;
}

.img_wrapper-benefits {
  position: relative;
}

.span-1 {
  display: inline-block;
  max-height: 160px;
  height: 20vw;
  min-height: 127.5px;
  max-width: 160px;
  width: 20vw;
  min-width: 127.5px;
  border-radius: 41px;
  position: absolute;
  background-color: #fb3b64;
  top: 90px;
  left: 90px;
  transform: rotate(45deg);
  transition: 2s;
}

.span-2 {
  display: block;
  max-height: 320px;
  max-width: 320px;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  position: absolute;
  background-color: #08A6E4;
  top: 10px;
  left: 90px;
  transform: rotate(45deg);
}

.benefits .img-2 {
  height: auto;
  max-width: 428px;
  width: 30vw;
  min-width: 215px;
  position: relative;
  top: 40px;
  left: 100px;
}

.benefits article {
  position: relative;
  display: flex;
  flex-direction: column;
}

.benefits .article-basic {
  width: 416px;
  margin: 20px 36px;
}

.benefits .article-3 {
  padding: 20px 36px;
}

.benefits h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin: 50px 0 30px;
  line-height: 1.2;
}

.benefits p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.benefits .paragraph-1::after {
  content: "";
  width: 328px;
  height: 4px;
  background-color: #fb3b64;
  position: absolute;
  bottom: 60px;
  left: 0;
  transition: 2s;
}

.benefits .paragraph-2::after {
  content: "";
  width: 328px;
  height: 4px;
  background-color: #08A6E4;
  position: absolute;
  bottom: 40px;
  right: 90px;
  transition: 2s;
}

.benefits .paragraph-3::after {
  content: "";
  width: 328px;
  height: 4px;
  background-color: #55dfb4;
  position: absolute;
  bottom: 60px;
  left: 36px;
  transition: 2s;
}

@media (max-width: 1300px) {
  .benefits .row {
    width: 90%;
  }
}
@media (max-width: 1150px) {
  .row-2 .img_wrapper-benefits {
    margin-right: 60px;
  }
  .benefits .paragraph-2::after {
    width: 0;
    transition: 2s;
  }
  .benefits .paragraph-1::after {
    width: 0;
    transition: 2s;
  }
  .benefits .paragraph-3::after {
    width: 0;
    transition: 2s;
  }
  .span-1 {
    height: 28%;
    width: 28%;
    margin: 40px;
    top: 50px;
    left: 50px;
    transition: 2s;
  }
}
@media (max-width: 700px) {
  .row:first-of-type {
    margin-top: 50px;
  }
  .benefits .row-1, .benefits .row-2 {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .benefits .row-3 {
    flex-direction: column;
  }
  .benefits .row-3 .img-3 {
    width: 100%;
  }
  .benefits .row-3 .img-3 img {
    bottom: -25px;
    left: -15px;
  }
  .benefits .article-3 {
    justify-content: space-evenly;
    width: 100%;
    min-height: 280px;
    padding: 15px;
  }
  .benefits .article-3 h2 {
    margin: 15px 0;
    font-size: 30px;
  }
  .benefits .article-3 p {
    font-size: 14px;
  }
  .benefits .article-basic {
    justify-content: space-evenly;
    width: 80%;
  }
  .benefits .article-basic p {
    font-size: 14px;
  }
  .benefits .article-basic h2 {
    font-size: 30px;
    margin: 15px 0;
  }
  .benefits .img_wrapper-benefits {
    margin-top: 0;
  }
  .benefits .img_wrapper-benefits .benefits .img-1 {
    position: relative;
    top: -100px;
    padding: 0;
    width: 50%;
    min-width: 192px;
    margin: 0;
  }
  .benefits .img_wrapper-benefits .benefits .span-1 {
    position: absolute;
  }
  .benefits .img_wrapper-benefits .benefits .img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50%;
    min-width: 192px;
    margin: 0;
  }
  .benefits .img_wrapper-benefits .benefits .span-2 {
    position: absolute;
    height: 30vw;
    width: 30vw;
  }
}
.pricing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing h2 {
  margin: 100px 0 71px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}

.pricing .boxes_wrapper {
  width: inherit;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-evenly;
  gap: 8vw;
}

.pricing .box {
  height: 461px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  text-align: center;
  max-width: 372px;
  width: 372px;
  min-width: 240px;
}

.box h3 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 34px 0 0;
}

.box span {
  font-size: 46px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.box ul {
  margin-top: 20px;
}

.box li {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 3;
}

.box button {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 23px;
  color: white;
  font-size: 13px;
  position: relative;
  top: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.box button:hover {
  color: black;
}

.box small {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.box-1 span {
  color: #EB476E;
}

.box-1 {
  border: 1px solid #fb3b64;
}

.box-1 button {
  background-color: #EB476E;
}

.box-2 span {
  color: #08A6E4;
}

.pricing .box-2 {
  border: 1px solid #07ACE6;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.1607843137);
  height: 500px;
}

.box-2 button {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
}

.box-3 span {
  color: #55dfb4;
}

.box-3 {
  border: 1px solid #55dfb4;
}

.box-3 button {
  background-color: #55dfb4;
}

.element-checked::before {
  content: "";
  background-image: url("../assets/Checkmark-1.svg");
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 10px;
}

.element-crossed::before {
  content: "";
  background-image: url("../assets/Close.svg");
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .pricing .boxes_wrapper {
    gap: 5vw;
  }
}
@media (max-width: 600px) {
  .pricing h2 {
    margin: 50px 0 15px;
  }
  .pricing .boxes_wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .pricing .box {
    height: 250px;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
  }
  .pricing button {
    position: absolute;
    top: 225px;
    left: 110px;
  }
  .pricing li {
    line-height: 3;
  }
}
@media (max-width: 450px) {
  .pricing .container .box {
    width: 85vw;
  }
  .pricing img.img-2 {
    padding: 0;
  }
}
.contact .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 59px;
}

.contact_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 372px;
}

.contact_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contact_data h2 {
  font-size: 49px;
  font-family: "Raleway", sans-serif;
  margin-top: 45px;
}

.contact_data p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-top: 22px;
}

.contact_data small {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
}

.info-small {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 330px;
  justify-content: space-between;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-basic {
  border-bottom: 1px solid #95989A;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 440px;
  margin: 15px 0 30px;
}

.label-basic {
  color: #08A6E4;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
  font-size: 12px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

.checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox input:checked + span {
  background-image: url("../assets/Checkmark.svg");
  background-size: 12px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact button {
  height: 57px;
  width: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 13px;
  position: relative;
  top: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
}

.contact button:hover {
  color: black;
}

@media (max-width: 900px) {
  .contact .container {
    display: flex;
    flex-direction: column;
  }
  .contact_box {
    height: auto;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .contact .container {
    margin: 0;
  }
  .contact label, .contact input {
    width: 90vw;
    max-width: 440px;
  }
}
@media (max-width: 450px) {
  .contact h2 {
    margin: 0;
  }
  .contact .info-small {
    width: 70vw;
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
  }
  .contact_box {
    width: 85vw;
  }
}
footer {
  background-color: #f7f7f7;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.1607843137);
  height: 89px;
}

footer .container {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

footer .div-left {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #08A6E4;
  font-weight: lighter;
}

footer small {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  color: #a5a5a5;
  margin-top: 7px;
}

footer a {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */
