* {
    box-sizing: border-box;
}
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
header {
    box-shadow: 0px 3px 6px #00000029;
}
header .container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: lighter;
    text-decoration: none;
    color: var(--color-primary);
}
.nav_list {
    display: flex;
    width: 40rem;
    justify-content: space-around;
    align-items: center;
}
.nav_element {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--color-grey);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    height: 70px;
    cursor: pointer;
}
.nav_element:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
.banner {
    height: 712px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1 {
    font-size: 49px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    margin-bottom: 20px;
}
.banner p {
    font-size: 16px;
    font-family: var(--font-open-sans);
    margin-bottom: 38px;
}
.banner a {
    height: 67px;
    width: 440px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-size: 16px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
.banner a:hover {
    color: var(--color-black);
}
.banner img {
    width: 100%;
    height: auto;
}
.statistics {
    height: 531px;
    font-family: var(--font-raleway);
}
.statistics .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 531px;
    justify-content: space-between;
}
.statistics h2 {
    font-size: 36px;
    margin: 100px 0;
}
.data_container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 121px;
    width: 1352px;
}
.statistics article {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img_wrapper{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img_wrapper img {
    position: relative;
    left: 20px;
}
.span-red {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-redish);
    border-radius: 50%;
    position: absolute;
}
.span-blue {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
}
.span-green {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-green);
    border-radius: 50%;
    position: absolute;
}
.img_wrapper span:nth-child(2) {
    background-color: var(--color-primary);
}
.data_container h3 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 4px;
}
.data_container p {
    font-size: 17px;
    color: var(--color-grey);
}

.data_container p {
    text-align: center;
    line-height: 1.2;
}