* {
    box-sizing: border-box;
}
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
header {
    box-shadow: 0px 3px 6px #00000029;
}
header .container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: lighter;
    text-decoration: none;
    color: var(--color-primary);
}
.nav_list {
    display: flex;
    width: 40rem;
    justify-content: space-around;
    align-items: center;
}
.nav_element {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--color-grey);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    height: 70px;
    cursor: pointer;
}
.nav_element:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
.banner {
    height: 712px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1 {
    font-size: 49px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    margin-bottom: 20px;
}
.banner p {
    font-size: 16px;
    font-family: var(--font-open-sans);
    margin-bottom: 38px;
}
.banner a {
    height: 67px;
    width: 440px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-size: 16px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
.banner a:hover {
    color: var(--color-black);
}
.banner img {
    width: 100%;
    height: auto;
}
.statistics {
    height: 531px;
    font-family: var(--font-raleway);
}
.statistics .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 531px;
    justify-content: space-between;
}
.statistics h2 {
    font-size: 36px;
    margin: 100px 0;
}
.data_container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 121px;
    width: 1352px;
}
.statistics article {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img_wrapper{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img_wrapper img {
    position: relative;
    left: 20px;
}
.span-red {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-redish);
    border-radius: 50%;
    position: absolute;
}
.span-blue {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
}
.span-green {
    display: flex;
    height: 63px;
    width: 63px;
    background-color: var(--color-green);
    border-radius: 50%;
    position: absolute;
}
.img_wrapper span:nth-child(2) {
    background-color: var(--color-primary);
}
.data_container h3 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 4px;
}
.data_container p {
    font-size: 17px;
    color: var(--color-grey);
}

.data_container p {
    text-align: center;
    line-height: 1.2;
}
/*    BENEFITS   */
.benefits {
    height: 1395px;
    background-color: var(--color-light-grey);
}
.benefits .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits .row {
    display: flex;
    flex-direction: row;
    height: 370px;
    width: 1124px;
}
.row:first-of-type {
    margin-top: 105px;
}
.row:nth-of-type(2) {
    margin: 37px 0;
}
.row:last-of-type {
    margin-bottom: 105px;
}
.row-1, .row-2, .article-3 {
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.img-3 {
    background-color: var(--color-green);
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-3 img {
    height: 207px;
    width: 295px;
}
.row-3 article {
    width: 623px;

}
.row {
    display: flex;
    justify-content: space-between;
}
.benefits .img-1, .benefits .img-2 {
    max-height: 370px;
    width: auto;
   padding:20px
}
.benefits .img-1 {
    height: 230px;
    width: auto;
    position: relative;
    top: 110px;
    right: 120px;
}
.img_wrapper-benefits {
    position: relative;
}
.span-1 {
    height: 160px;
    width: 160px;
    border-radius: 41px;
    position: absolute;
    background-color: var(--color-redish);
    top: 90px;
    left: 90px;
    transform: rotate(45deg);
}
.span-2 {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-primary);
    top: 10px;
    left: 90px;
    transform: rotate(45deg);
}
.benefits .img-2 {
    height: auto;
    width: 428px;
    position: relative;
    top: 40px;
    left: 100px;
}
.benefits article {
    position: relative;
    display: flex;
    flex-direction: column;
}
.benefits .article-basic {
    width: 416px;
    margin: 20px 36px;
}
.benefits .article-3 {
    padding: 20px 36px;
}
.benefits h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 50px 0 30px;
    line-height: 1.2;
}
.benefits p {
    font-size: 16px;
    font-family: var(--font-open-sans);
    line-height: 1.5;
}

.benefits .paragraph-1::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--color-redish);
    position: absolute;
    bottom: 60px;
    left: 0;
}
.benefits .paragraph-2::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 40px;
    right: 90px;
}
.benefits .paragraph-3::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--color-green);
    position: absolute;
    bottom: 60px;
    left: 36px;
}
/* PRICING*/
.pricing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing h2 {
    margin: 100px 0 71px;
    font-family: var(--font-raleway);
    font-size: 36px;
}
.pricing .boxes_wrapper {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    align-items: center;
    justify-content: space-evenly;
}
.pricing .box {
    height: 461px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    text-align: center;
    width: 372px;
}
.box h3 {
    font-size:20px;
    font-family: var(--font-raleway);
    font-weight: bold;
    margin: 34px 0 0;
}
.box span {
    font-size: 46px;
    font-family: var(--font-open-sans);
    font-weight: lighter;
}
.box ul {
    margin-top: 20px;
}
.box li {
    font-size: 14px;
    font-family: var(--font-open-sans);
    line-height: 3;
}
.box button {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 23px;
    color: white;
    font-size: 13px;
    position: relative;
    top: 25px;
    font-family: var(--font-open-sans);
    font-weight: bold;
}
.box button:hover {
    color: black;
}
.box small {
    font-size: 12px;
    font-family: var(--font-raleway);
    font-weight: bold;
}
.box-1 span {
    color: #EB476E;
}
.box-1 {
    border: 1px solid var(--color-redish);
}
.box-1 button {
    background-color: #EB476E;
}
.box-2 span {
    color: var(--color-primary);
}
.pricing .box-2 {
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
    height: 500px;
}
.box-2 button {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
}
.box-3 span {
    color: var(--color-green);
}
.box-3 {
    border: 1px solid var(--color-green);
}
.box-3 button {
    background-color: var(--color-green);
}
.element-checked::before {
    content: "";
    background-image: url("../assets/Checkmark-1.svg");
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 10px;
}
.element-crossed::before {
    content: "";
    background-image: url("../assets/Close.svg");
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-right: 10px;
}
.contact .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 59px;
}
.contact_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 372px;
}
.contact_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.contact_data h2 {
    font-size: 49px;
    font-family: var(--font-raleway);
    margin-top: 45px;
}
.contact_data p {
    font-size: 16px;
    font-family: var(--font-open-sans);
    margin-top: 22px;
}
.contact_data small {
    font-size: 16px;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
}
.info-small {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 330px;
    justify-content: space-between;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.input-basic {
    border-bottom: 1px solid #95989A;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 440px;
    margin: 15px 0 30px;
}
.label-basic {
    color: var(--color-primary);
    display:flex;
    flex-direction: column;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    letter-spacing: 2px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
    font-size: 12px;
    color: #707070;
    font-family: var(--font-open-sans);
    line-height: 1.3;
}

.checkbox span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;

}
.checkbox input:checked + span {
    background-image: url("../assets/Checkmark.svg");
    background-size: 12px 11px;
    background-repeat: no-repeat;
    background-position: center;
}
.contact button {
    height: 57px;
    width: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 13px;
    position: relative;
    top: 25px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
}
.contact button:hover {
    color: black;
}
footer {
    background-color: var(--color-light-grey);
    box-shadow: 0 -5px 40px #00000029;
    height: 89px;
}
footer .container {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}
footer .div-left {
    display: flex;
    flex-direction: column;
}
footer h2 {
    font-size: 26px;
    font-family: var(--font-raleway);
    color: var(--color-primary);
    font-weight: lighter;
}
footer small {
    font-size: 11px;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    margin-top: 7px;
}
footer a {
    margin-right: 10px;
}