.banner {
    height: 712px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1 {
    font-size: 49px;
    font-family: $font-raleway;
    color: $color-black;
    margin-bottom: 20px;
}
.banner p {
    font-size: 16px;
    font-family: $font-open-sans;;
    margin-bottom: 38px;
}
.banner a {
    height: 67px;
    width: 440px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    color: $color-white;
    font-family: $font-open-sans;
    font-size: 16px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
.banner a:hover {
    color: $color-black;
}
.banner img {
    width: 100%;
    height: auto;
}