.benefits {
    height: 1395px;
    background-color: $color-light-grey;
}
.benefits .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits .row {
    display: flex;
    flex-direction: row;
    height: 370px;
    width: 1124px;
    min-width: 300px;
}
.row:first-of-type {
    margin-top: 105px;
}
.row:nth-of-type(2) {
    margin: 37px 0;
}
.row:last-of-type {
    margin-bottom: 105px;
}
.row-1, .row-2, .article-3 {
    background-color: $color-white;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.img-3 {
    background-color: $color-green;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-3 img {
    position: relative;
    height: 207px;
    width: 295px;
}
.row-3 article {
    width: 623px;

}
.row {
    display: flex;
    justify-content: space-between;
}
.benefits .img-1, .benefits .img-2 {
    max-height: 370px;
    width: auto;
   padding:20px
}
.benefits .img-1 {
    max-height: 230px;
    height: 20vw;
    min-height: 110px;
    width: auto;
    position: relative;
    top: 110px;
    right: 120px;
}
.img_wrapper-benefits {
    position: relative;
}
.span-1 {
    display: inline-block;
    max-height: 160px;
    height: 20vw;
    min-height: 127.5px;
    max-width: 160px;
    width: 20vw;
    min-width: 127.5px;
    border-radius: 41px;
    position: absolute;
    background-color: $color-redish;
    top: 90px;
    left: 90px;
    transform: rotate(45deg);
    transition: 2s;

}
.span-2 {
    display: block;
    max-height: 320px;
    max-width: 320px;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    position: absolute;
    background-color: $color-primary;
    top: 10px;
    left: 90px;
    transform: rotate(45deg);
}
.benefits .img-2 {
    height: auto;
    max-width: 428px;
    width: 30vw;
    min-width: 215px;
    position: relative;
    top: 40px;
    left: 100px;
}
.benefits article {
    position: relative;
    display: flex;
    flex-direction: column;
}
.benefits .article-basic {
    width: 416px;
    margin: 20px 36px;
}
.benefits .article-3 {
    padding: 20px 36px;
}
.benefits h2 {
    font-family: $font-raleway;
    font-size: 36px;
    margin: 50px 0 30px;
    line-height: 1.2;
}
.benefits p {
    font-size: 16px;
    font-family: $font-open-sans;
    line-height: 1.5;

}

.benefits .paragraph-1::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: $color-redish;
    position: absolute;
    bottom: 60px;
    left: 0;
    transition: 2s;
}
.benefits .paragraph-2::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: $color-primary;
    position: absolute;
    bottom: 40px;
    right: 90px;
    transition: 2s;
}
.benefits .paragraph-3::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: $color-green;
    position: absolute;
    bottom: 60px;
    left: 36px;
    transition: 2s;
}

@media (max-width: 1300px) {
    .benefits .row {
    width: 90%;
}
}
@media (max-width: 1150px) {
  .row-1 .img_wrapper-benefits {

    .img-1 {


    }
  }
    .row-2 .img_wrapper-benefits {
       margin-right: 60px;
    }
    .benefits .paragraph-2::after {
       width: 0;
        transition: 2s;
    }
    .benefits .paragraph-1::after {
        width: 0;
        transition: 2s;
    }
    .benefits .paragraph-3::after {
        width: 0;
        transition: 2s;
    }
    .span-1 {
        height: 28%;
        width: 28%;
       margin: 40px;
       top: 50px;
        left: 50px;
        transition: 2s;
    }

}
@media (max-width: 700px) {

    .row:first-of-type {
        margin-top: 50px;
    }
    .benefits .row-1, .benefits .row-2 {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .benefits .row-3 {
        flex-direction: column;
        .img-3 {
            width: 100%;
          img {
            bottom: -25px;
              left: -15px;
          }
        }
    }
    .benefits .article-3 {
        justify-content: space-evenly;
        width: 100%;
        min-height: 280px;
        padding: 15px;
        h2 {
            margin: 15px 0;
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }
    .benefits .article-basic {
        justify-content: space-evenly;
        width: 80%;
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 30px;
            margin: 15px 0;
        }
    }
    .benefits .img_wrapper-benefits {
        margin-top: 0;
        .benefits .img-1 {
            position: relative;
            top: -100px;
            padding: 0;
            width: 50%;
            min-width: 192px;
            margin: 0;

        }

        .benefits .span-1 {
            position: absolute;

        }
        .benefits .img-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 50%;
            min-width: 192px;
            margin: 0;
        }

        .benefits .span-2 {
            position: absolute;
height: 30vw;
            width: 30vw;
        }
    }
}
